<h2>Users List</h2>

{{/* Using the alert component */}}
{{template "components/alert" (map "Type" "info" "Message" "This endpoint supports content negotiation. Try different Accept headers!")}}

<p>Try these curl commands:</p>
<ul>
    <li><code>curl -H "Accept: application/json" http://localhost:8080/users</code></li>
    <li><code>curl -H "Accept: application/xml" http://localhost:8080/users</code></li>
    <li><code>curl -H "Accept: text/html" http://localhost:8080/users</code></li>
</ul>

{{/* Using the card component with the user-table component inside */}}
<div class="card">
    <h3>Users</h3>
    {{/* Using the user-table component from SharedDirs */}}
    {{template "components/user-table" .Users}}
</div>

{{/* Using the button component */}}
{{template "components/button" (map "Text" "← Back to Home" "Href" "/")}}
